
/* Your CSS Code here. */
 div{
            /* border: 1px solid red; */
            width: 500px;
            margin: auto;
            position: relative;
        }
         .moviePic{
            height: auto;
            width: 500px;
            opacity: 0.7;
         }
         .movieDetail{
            /* border: 2px solid red; */
            position: absolute;
            top: 200px;
            width: 500px;
            text-align: center;
            font-size: 35px;
            font-weight: 900;
            color: white;
            
         }